.stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bar-chart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stat {
  display: grid;
  grid-template-columns: 15% 1fr auto;
  gap: 8px;
  align-items: center;
}

.title {
  font-weight: bold;
  text-align: right;
  padding: 4px 8px 4px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid transparent;
  border-right-color: gray;
}

.bar {
  border: 1px solid black;
  border-radius: 0 4px 4px 0;
  padding: 2px 8px;
}

.hp {
  background: green;
}

.attack {
  background: red;
}

.defense {
  background: orange;
}

.special-attack {
  background: lighten(purple, 30%);
}

.special-defense {
  background: lighten(magenta, 30%);
}

.speed {
  background: yellow;
}

.value {
  display: flex;
  gap: 4px;
  align-items: center;
}

.physical {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.abilities {
  text-align: center;
}
