$types: fighting, psychic, poison, dragon, ghost, dark, ground, fire, fairy,
  water, flying, normal, rock, electric, bug, grass, ice, steel;

.moveset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;

  & .move {
    align-content: center;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 16px;
    position: relative;
    text-align: center;
    width: 100%;

    &:hover {
      box-shadow: 0px 7px 10px -5px gray;
      transform: scale(1.01);
      transition: all 0.3s ease-in-out;
    }
  }

  & .name {
    flex-grow: 1;
    text-transform: capitalize;
  }

  & .damage-type {
    margin-left: 32px;
  }

  & .icon {
    left: 8px;
    position: absolute;
    top: calc(50% - 15px);
  }
}

.icon {
  background-image: url("/pokemon_type_icons.png");
  background-repeat: no-repeat;
  background-size: 250px 145px;
  border: 1px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.fighting {
  background-position: -8px -7px;
}

.psychic {
  background-position: -49px -7px;
}

.poison {
  background-position: -90px -7px;
}

.dragon {
  background-position: -132px -7px;
}

.ghost {
  background-position: -173px -7px;
}

.dark {
  background-position: -215px -7px;
}

.ground {
  background-position: -8px -54px;
}

.fire {
  background-position: -49px -54px;
}

.fairy {
  background-position: -90px -54px;
}

.water {
  background-position: -132px -54px;
}

.flying {
  background-position: -173px -54px;
}

.normal {
  background-position: -214.5px -54px;
}

.rock {
  background-position: -8px -101px;
}

.electric {
  background-position: -49px -101px;
}

.bug {
  background-position: -90px -101px;
}

.grass {
  background-position: -130px -101px;
}

.ice {
  background-position: -173px -101px;
}

.steel {
  background-position: -215px -101px;
}

.move-details {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  position: relative;
  width: 100%;

  & .back-button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  & .basic-info {
    background-color: whitesmoke;
    border: 2px solid green;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-left: 32px;
    padding: 8px 16px;
    padding-left: 96px;
    position: relative;
  }

  & .type {
    align-items: center;
    display: flex;
    left: -32px;
    position: absolute;
    top: calc(50% - 15px);

    & .icon {
      z-index: 10;
    }

    & > span {
      border-radius: 0 4px 4px 0;
      font-weight: bold;
      margin-left: -8px;
      padding: 4px 16px 2px;
      position: relative;
      text-transform: uppercase;
    }
  }

  & .name {
    text-transform: capitalize;
  }

  & .details {
    background-color: whitesmoke;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    padding: 16px;
  }

  & .category {
    align-items: center;
    display: flex;
    font-size: 0.8em;
    gap: 8px;
  }

  & .power {
    align-items: center;
    display: flex;
    font-size: 0.8em;
    gap: 8px;
    justify-content: center;
  }

  & .accuracy {
    align-items: center;
    display: flex;
    font-size: 0.8em;
    gap: 8px;
    justify-content: center;
  }

  & .description {
    flex-basis: 100%;
    grid-area: description;
    line-height: 1.2;
    text-align: center;
  }
}
