.page {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header {
  background: var(--background);
  display: flex;
  flex-direction: row;
  height: 82px;
  position: relative;
}

.content {
  background: red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 32px;
}
