.pokemon {
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.id {
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 48px;
  font-weight: bold;
  gap: 4px;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
}

.image {
  position: relative;

  &::after {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    content: " ";
    display: block;
    height: 30px;
    position: absolute;
    width: 60%;
  }
}

.name {
  color: var(--background);
  cursor: pointer;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
  text-transform: capitalize;
}

.types {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .type {
    font-weight: bold;
    font-size: 24px;
    padding: 4px 16px;
  }

  .type:not(:last-child) {
    border-right: 1px solid gray;
  }
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.input {
  background: whitesmoke;
  border: 0 solid transparent;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  padding: 0 8px;
  width: auto;

  &:active,
  &:focus,
  &:target,
  &:focus-visible {
    border: 0;
    outline: none;
  }
}

.name-input {
  font-size: 36px;
  margin-bottom: 5px;
  max-width: 300px;
  text-align: center;
}

.num-input {
  font-size: 48px;
  max-width: 120px;
}

.error {
  color: orangered;
  font-size: 16px;
}
