.pokemon {
  min-height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: white;
  height: 100%;
  border: 2px solid black;
  color: black;
}

.id {
  display: flex;
  justify-content: center;
  top: 16px;
  font-size: 48px;
  font-weight: bold;
  color: black;
  opacity: 0.8;
  cursor: pointer;
}

.name {
  color: var(--background);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 8px;
}

.types {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .type {
    padding: 4px 16px;
    font-weight: bold;
    font-size: 24px;
  }

  .type:not(:last-child) {
    border-right: 1px solid gray;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.input {
  font-weight: bold;
  color: black;
  padding: 0 8px;
  width: auto;
  border: 0 solid transparent;
  border-radius: 4px;
  background: whitesmoke;
  overflow: hidden;

  &:active,
  &:focus,
  &:target,
  &:focus-visible {
    border: 0;
    outline: none;
  }
}

.name-input {
  font-size: 36px;
  max-width: 300px;
  margin-bottom: 5px;
  text-align: center;
}

.num-input {
  font-size: 48px;
  max-width: 120px;
}

.error {
  color: orangered;
  font-size: 16px;
}
