$gray-rgb: rgb(0, 0, 0);
$gray-alpha-200: rgba($gray-rgb, 0.08);
$gray-alpha-100: rgba($gray-rgb, 0.05);

$button-primary-hover: #383838;
$button-secondary-hover: #f2f2f2;

.page {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  height: 100vh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    $gray-rgb: rgb(255, 255, 255);
    $gray-alpha-200: rgba($gray-rgb, 0.145);
    $gray-alpha-100: rgba($gray-rgb, 0.06);

    $button-primary-hover: #ccc;
    $button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  border-radius: 20px;
  overflow: hidden;
  gap: 0;
  height: 800px;
  width: 1000px;
}

.screen {
  background: lighten(gray, 10%);
  border: 32px solid transparent;
  border-radius: 16px;
  width: 100%;
  flex-grow: 1;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;

  & img {
    cursor: pointer;
    opacity: 0.8;

    &:not(.disabled):hover {
      opacity: 1;
      transform: scale(1.1, 1.1);
      transition: transform 0.3s;
    }
  }

  & .disabled {
    opacity: 0.5;
    cursor: default;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
  .logo {
    // filter: invert();
  }
}
