.details {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.moveset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  gap: 8px;

  & > li {
    list-style: none;
  }
}
