.page {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header {
  background-color: darkred;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 8px;
  position: relative;
  z-index: 0;
}

.content {
  background: red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 32px;
}

.light {
  background: skyblue;
  border: 4px solid white;
  border-radius: 50%;
  height: 50px;
  margin: 16px;
  position: relative;
  width: 50px;
  z-index: 20;

  &::after {
    background: linear-gradient(white, transparent);
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    left: calc(50% - 10px);
    opacity: 0.5;
    position: absolute;
    top: 2px;
    width: 20px;
  }
}

.indicators {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 16px;
  z-index: 20;

  .red {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  .yellow {
    background-color: yellow;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  .green {
    background-color: green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}
